# go places
  alias ..="cd .."
  alias home="cd ~"
  alias docs="cd ~/Documents"
  alias proj="cd ~/projects"
  alias desk="cd ~/Desktop"
  alias aam="cd ~/projects/a11y-audit-microsite"

# clear
  alias c="clear"

# generate ssh keys
  alias priv-key="openssl genrsa -out private.pem 2048"
  alias pub-cert="openssl req -new -x509 -key private.pem -out cert.pem -days 1095"

# kill stuff
  alias killui="killall SystemUIServer"
  alias killfind="killall Finder"

# show list of all fills in long list format
  alias ll='ls -lha'

# show command history
  alias h="history"

# show available ports
  alias ports="netstat"

# restart bash
  alias rbash="source ~/.bashrc"

# find out what is using the most space
  alias space="du -h -d1"

# git commands
  alias gs='git status'
  alias go='git checkout'
  alias gi='git commit'
  alias gca='git commit --amend'
  alias gb='git branch'
  alias ga='git add -A'
  alias gp='git push'
  alias gd='git diff'
  alias gcb='git checkout -b $@'
  alias gsr='git show $@'
  alias gup='git push --set-upstream origin $@'
  alias grr='git pull --rebase'
  alias grmaster='git rebase master'
  alias glog='git log --date-order --all --graph --format="%C(green)%h%Creset %C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset%s"'


# updates software verbosely
  alias supdate='sudo softwareupdate -ir --verbose'

# checks for any updates
  alias aupdates='sudo softwareupdate -l'
