# ------------------------------------------------------------------
# | 11.12.18 Functions                                             |
# ------------------------------------------------------------------

# Useful -----------------------------------------------------------
# make a directory and go into it
  function mkd () {
    mkdir -p "$@" && cd "$@"
  }
# returns how many lines are in a file
  function file_lines () {
    function find_number () {
      cat $@ | wc -l
    }
    echo Your file $@ has $( find_number $@ ) lines.
  }
# Messing around -----------------------------------------------------------
# trying out functions in here
  function dont_worry () {
    echo 'be happy'
  }
# congratulate yourself with a happy dance
  function happydance {
    echo '
    ┏(-_-)┛┗(-_-﻿ )┓┗(-_-)┛┏(-_-)┓
    '
  }
# having a sad day, here's a cute owl
  function sadday {
    echo '
    (o,o)
   <  .  >
   --"-"---
  '
  }
