# ------------------------------------------------------------------
# | Functions - 2.21.18                                           |
# ------------------------------------------------------------------


# setup a ruby project

  function build-ruby () {
    progress
    echo "generating Gemfile"
    progress
    echo "generating Rakefile"
    progress
    echo "generating .gitignore"
    progress
    echo "generating folders"
    progress
    echo "generating README.md"
    cp -r ~/templates "$@"
    progress
    progress
    echo -e "Sending you to project directory.\n"
    cd "$@"
    progress
    git init
  }

   function progress () {
      INT=0.1
        for i in {1..5}; do
          echo -n '.'
          sleep $INT
        done
   }


  # end project setup

# adding repo to github
  function add_repo () {
    git add *
    progress
    echo "adding files to track"
    git commit -m "first commit"
    progress
    echo "sending commit"
    git remote add origin "$@"
    progress
    echo "add origin"
    git push -u origin master
    progress
    echo "pushed to origin\n Huzzah! Your repo is now on GitHub!"
  }


# make a directory and go into it
  function mkd () {
    mkdir -p "$@" && cd "$@"
  }

# returns how many lines are in a file
  function file_lines () {
    function find_number () {
      cat $@ | wc -l
    }
    echo Your file $@ has $( find_number $@ ) lines.
  }

# go to the directory and list out the contents
  function cl () {
    cd $@ && ls -la
  }

# `o` with no arguments opens the current directory, otherwise opens the given location
# from mathiasbynens
  function o() {
  	if [ $# -eq 0 ]; then
  		open .;
  	else
  		open "$@";
  	fi;
  }

# `a` with no arguments opens the current directory in Atom, otherwise opens the given locations
# from mathiasbynens
  function a() {
  	if [ $# -eq 0 ]; then
  		atom .;
  	else
  		atom "$@";
  	fi;
  }

# playing with functions in here
  function dont_worry () {
    echo 'be happy'
  }

# congratulate yourself with a happy dance
  function happydance {
    echo '
    ┏(-_-)┛ ┗(-_-﻿ )┓ ┗(-_-)┛ ┏(-_-)┓
    '
  }

# having a sad day, here's a cute owl
  function sadday {
    echo '
    (o,o)
   <  .  >
   --"-"---
  '
  }
